<div class="container-fluid">
  <div class="row">
    
    <section class="chatBox col-sm-6">
      <div class="">
        Chat Box        
      </div>
    </section>

    <section class="mapBox half-height col-sm-6">
      <div class="half-inner-box background-primary">
        <div id="map"></div>
      </div>
    </section>  

    <section class="groupBox half-height col-sm-6">
      <div class="half-inner-box background-secondary">
            <ul class="nav nav-pills">
              <li class="active">
                <a data-toggle="pill" href="#developers">Developers</a>
              </li>
              <li>
                <a data-toggle="pill" href="#testers">Testers</a>
              </li>
              <li>
                <a data-toggle="pill" href="#managers">Managers</a>
              </li>
            </ul>

      <div class="tab-content">
        <div id="developers" class="tab-pane fade in active">
          <h3>Developers Group</h3>
          <div class="list-group">
            <a href="#" class="list-group-item" [class.active]="isDevOneNear === true">First Developer 
              <span class="badge" *ngIf="isDevOneNear === true">Online</span>
              <span class="badge" *ngIf="isDevOneNear === false">Offline</span>
            </a>
            <a href="#" class="list-group-item" [class.active]="isDevTwoNear === true">Second Developer 
              <span class="badge" *ngIf="isDevTwoNear === true">Online</span>
              <span class="badge" *ngIf="isDevTwoNear === false">Offline</span>
            </a>
            <a href="#" class="list-group-item" [class.active]="isDevThreeNear === true">Third Developer 
              <span class="badge" *ngIf="isDevThreeNear === true">Online</span>
              <span class="badge" *ngIf="isDevThreeNear === false">Offline</span>
            </a>
          </div>
        </div>

        <div id="testers" class="tab-pane fade">
          <h3>Testers Group</h3>
          <div class="list-group">
            <a href="#" class="list-group-item">First Tester 
              <span class="badge">Offline</span>
            </a>
            <a href="#" class="list-group-item">Second Tester 
              <span class="badge">Online</span>
            </a>
            <a href="#" class="list-group-item">Third Tester 
              <span class="badge">Offline</span>
            </a>
          </div>
        </div>

        <div id="managers" class="tab-pane fade">
          <h3>Managers Group</h3>
          <div class="list-group">
            <a href="#" class="list-group-item">First Manager 
              <span class="badge">Offline</span>
            </a>
            <a href="#" class="list-group-item">Second Manager 
              <span class="badge">Online</span>
            </a>
            <a href="#" class="list-group-item">Third Manager 
              <span class="badge">Offline</span>
            </a>
          </div>
        </div>
      </div>

      </div>            
    </section>

  </div>
</div>